body {
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  color: #fff;
  background-color: #34465d;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.gnb a {
  text-transform: uppercase;
  position: relative;
  /* border: 1px solid red; */
  width: 450px;
  display: block;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

.gnb a:before,
.gnb a:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #7e7e7e;
  transition: 0.3s;
}

.gnb a:hover {
  letter-spacing: 10px;
}

.gnb a:hover:before {
  transform: rotate(45deg);
  background-color: transparent;
}

.gnb a:hover:after {
  transform: rotate(-45deg);
  background-color: transparent;
}
